@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSpaceWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@mixin flexSpace {
    display: flex;
    justify-content: space-between;
}

@mixin flexSpaceCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

@mixin flexRow {
    display: flex;
    flex-direction: row;
}

@mixin button {
    background-image: -webkit-linear-gradient(169deg, #5560ff 17%, #aa52a1 63%, #ff4343 100%);
    padding: 0.6rem 3.1rem;
    font-weight: 600;
    border-radius: 16rem;
    display: inline-block;
    text-transform: uppercase;
}

@mixin positionCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin objectFitImg($objectFit: cover, $width: 100%, $height: 100%) {
    width: $width;
    height: $height;

    object-fit: $objectFit;
}

@mixin iconsRounded {
    padding: 0.2rem;
    border-radius: 50%;
    background: #032055;
    color: #fff;

    margin-right: 0.5rem;
}

@mixin flexRowSpace($isWrap: wrap) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: $isWrap;
}
